@page "/fetchdata"

@using BlazorApp1.Data
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>



<hr />
<AuthorizeView>
    <Authorized>
        用戶已登入
        <br />
       是否為Admin? @context.User.IsInRole("Admin")
    </Authorized>
    <NotAuthorized>
        用戶尚未登入
    </NotAuthorized>
</AuthorizeView>

<hr />
<AuthorizeView Roles="Admin">
    <Authorized>
        Admin 已登入
    </Authorized>
    <NotAuthorized>
        Admin 尚未登入
    </NotAuthorized>
</AuthorizeView>

<hr />

<p>This component demonstrates fetching data from a service.</p>
@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
